@{
    ViewData["Title"] = "Home Page";
}

<div class="wrapper h-100">
    <div class="container">
        <h1 class="text-center text-light p-2">My Photos</h1>
        <div class="col">
            <input class="photo_search form-control" placeholder="Search a photo" />
        </div>
        <div class="row no_photos d-none">
            <div class="col">
                <h1 class="text-center p-2">No Photos in the database</h1>
            </div>
        </div>
        <div class="row photos_list d-none">
        </div>
    </div>
    <form onsubmit="sendMessage(event)" method="post">
        <div class="mb-3">
            <strong>Email:</strong>
            <input id="Email" type="Email" class="d-block w-100" />
        </div>
        <div class="mb-3">
            <strong>Message:</strong>
            <textarea id="Message" class="form-control d-block w-100"></textarea>
        </div>
        <div class="mb-3">
            <input type="submit" class="btn btn-success" value="Send Me a Message" />
        </div>
    </form>
</div>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>

    function loadPhotosList(nameFilter) {
        axios.get('api/PhotoWeb/GetAllPhotos', {
            params: {
                name: nameFilter
            }
        }).then((res) => {
            console.log(res);
            if (res.data.length == 0) {
                document.querySelector('.no_photos').classList.remove('d-none');
                document.querySelector('.photos_list').classList.add('d-none');
            } else {
                const photos = res.data;
                const photoElement = document.querySelector('.photos_list');
                photoElement.innerHTML = '';
                photos.forEach((photo) => {
                    const photoCard = `
                        <div class="col-md-4 mb-4">
                            <div class="card">
                                    <img src="${photo.photoSrc}" class="card-img-top" alt="${photo.title}">
                                <div class="card-body">
                                    <h5 class="card-title">${photo.title}</h5>
                                    <p class="card-text">${photo.description}</p>
                                    <p class="card-text"><strong>Categories:</strong></p>
                                    <ul class="list-unstyled">
                                       ${photo.categories.map(category => {
                                           return `<li>${category.name}</li>`;
                                       }).join('')}
                                    </ul>
                                </div>
                            </div>
                        </div>`;
                    photoElement.insertAdjacentHTML('beforeend', photoCard);
                });
                document.querySelector('.no_photos').classList.add('d-none');
                document.querySelector('.photos_list').classList.remove('d-none');
            }
            
        }).catch((error) => {
            console.error('Errore durante la richiesta API:', error);
        });
    }
    function searchPhoto() {
        console.log(this.value);
        loadPhotosList(this.value);
    }
    document.querySelector('.photo_search').addEventListener('keyup', searchPhoto)
    loadPhotosList('');

    function sendMessage(event) {
        event.preventDefault();
        let emailInput = document.getElementById('Email');
        let contentInput = document.getElementById('Message');
        let email = emailInput.value;
        let content = contentInput.value;

        axios.post('/api/PhotoWeb/MessagePost', {
            email: email,
            content: content
        }).then(function (response) {
            console.log(response);
            emailInput.value = '';
            contentInput.value = '';
        })
            .catch(function (error) {
                console.log(error);
            });
    }

</script>
