@using net_il_mio_fotoalbum.Data
@model List<Photo>
@{
    using PhotoContext db = new PhotoContext();
}


<div class="wrapper">
    <div class="container">
        <h1 class="text-center text-light p-4">All Photos</h1>
        <div class="row">
            <table class="table table-dark table-bordered">
                <thead>
                    <tr>
                        <th scope="col" class="text-center bg-danger">Title</th>
                        <th scope="col" class="text-center bg-danger">Description</th>
                        <th scope="col" class="text-center bg-danger">Photo</th>
                        <th scope="col" class="text-center bg-danger">Availability</th>
                        <th scope="col" class="text-center bg-danger">Details</th>
                    </tr>
                </thead>
                <tbody>

                        @foreach (Photo photo in Model)
                        {
                            <tr>
                                <td class="text-center align-content-center">@photo.Title</td>

                            <td class="text-center align-content-center">@photo.Description</td>
                            <td class="text-center align-content-center">@photo.IsVisible</td>
                               
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
