html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

a {
    text-decoration: inherit;
    color: inherit;
    cursor: pointer;
}

a:hover {
    text-decoration: inherit;
    color: inherit;
    cursor: pointer;
}